*{
  color:white;
  background-color:;
}


/* Estilos de funciones js*/
#cajareloj{
  background-color: blue;
  height:20%;

}
#R1{
  background-color: black;
}

#R2{
  background-color: black;
}
